# Ignore Gradle project-specific cache directory
.gradle
radle-version
bin
.settings

# Ignore Gradle build output directory
build
*.class
bin/main/nl/thedutchmc/beursfolder/mailHandler/MailHandler.class
bin/main/nl/thedutchmc/beursfolder/mailHandler/MailHandler$1.class
